<div class="center hero-unit">
  <h1>welcome to racelockr</h1>

  <h2>
    This is the home page for the webapp.
  </h2>
  <h3>The concept will be a race-tracking service where users can sign up, store their race results / photos / discussions, and share and network with others.</h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>