<div class="center ">
  <%= image_tag'logo_large.png', id: "splash-logo"%>

  <h2>
    your race tracker and racer network
  </h2>
  <h3>racelockr is a race-tracking service where users can sign up, store their race results / photos / discussions, and share and network with others.</h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <p>
  	<h2>or <%= link_to "Sign in", signin_path %></h2>
  </p>
</div>