<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	The concept will be a race-tracking service where users can sign up, store their race results / photos / discussions, and share and network with others.
</p>