<div class="row">
	<div class="col-sm-12">
		<div class="row center-block">
			<%= link_to gravatar_for(user, size:100), user, class: "col-xs-12 col-sm-4 sidebar center"%>
			<h1 class="col-xs-12 col-sm-8 center">
				<%= link_to user.name, user %>
			</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h2>
			<%= user.email %>
			<br />
			<%= user.location %>
		</h2>
	</div>
</div>